body{
    background-color: #120F0F;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0;
    padding-top: 0;
    font-family: DM sans;
    overflow-x: hidden;
}

.body2{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

.Test-quote{
    width: 320px;
}




.logo{
    font-family: DM Sans;
    color: white;
    font-weight: 16px;
    font-weight: 400; 
    cursor: pointer; 
}

.logo:hover{
    font-weight: 900;
    transition: 0.5s;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 1000;
    margin-top: 0;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
}


.header-nav{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.header-nav img {
    padding-left: 40px;
}


.img:hover {
    transition: 0.5s ease-out;
    opacity: 0.7; 
    background-color: #6f666f;
}


.Image {
    margin-left: 50px;
}


.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.hover-content {
    position: absolute;
    top: 60px;
    right: 20px;
    transform: translateX(-50%);
    background-color: #111;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}


.profile-container:hover .hover-content {
    display: block;
    visibility: visible;
    opacity: 1;
}

.hero-text{
    color: #fff;
    font-size: medium;
    display: flex;
    margin-top: 200px;
    z-index: 50;
}

.hero-text1{
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 100%;
}

.hero-text2{
    font-weight: 400;
    font-size: 48px;
    width: 950px;
    letter-spacing: 1.5px;
    line-height: auto;
    z-index: 60;
    margin-left: 20px;
    margin: 0;
    padding: 0;
}



.button-c {
    display: flex;
    gap: 100px;
    position: relative;
    margin-top: 80px;
}
  
.button {
    position: relative;
    padding: 25px 40px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
  
  
.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}
  
.button:hover::before {
    left: 100%;
}
  
.button-email {
    background-color: white;
    color: #111;
}
  
.button-cv {
    padding: 25px 50px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: #111;
    color: white;
    justify-content: center;  
    display: inline-flex;
    gap: 10px;
    border: 1px solid white;
}
  
.button-email:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
  
.button-cv:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
}
  
.button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.line1{
    align-self: center;
    width: 100%;
    margin-top: 70px;
}

.title{
    color: white;
    display: flex;
    position: absolute;
    top: 900px;
}

.menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    margin-top: 100px;
}

.menu-item{
    margin-right: 100px;
}

.title1{
    margin-right: 98px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.title2{
    margin-right: 98px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #6F6F70;
    cursor: pointer;
}

.title2:hover{
    color: #fff;
    transition: 0.5s ease;
}

.E-Crea8{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    overflow: hidden;
    margin-top: 100px;
}

.E-Crea8-left{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.E-Crea8-mid{
    width: 335px;
    font-size: 16px;
    line-height: 20px;
}

.E-Crea8-right{
    color: #6f666f;
    font-size: 16px;
    font-weight: 700;
}


.E-Crea8-img{
    align-items: center;
    width: 100%;
    margin-top: 32px;
}

.brand-item {
    position: relative;
    font-size: 30px; 
    color: #fff; 
    cursor: pointer;
}

.brand-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px; 
    background-color: #fff; 
    transition: width 0.4s ease;
}

.brand-item:hover::after {
    width: 100%;
}
  
  
.brand-item:hover {
    color: #fff; 
}

.biz{
    position: relative;
}

.Bizmingle{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    overflow: hidden;
    margin-top: 100px;
}

.Bizmingle-mid{
    width: 335px;
    font-size: 16px;
    line-height: 20px;
}

.Bizmingle-left{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.Bizmingle-right{
    color: #6f666f;
    font-size: 16px;
    font-weight: 700;
}

.BizMingle-img{
    align-items: center;
    width: 100%;
    margin-top: 32px;
}

.Bizmingle2{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    overflow: hidden;
    margin-top: 100px;
}

.TBDN-img{
    align-items: center;
    width: 100%;
    margin-top: 32px; 
}

.Bizmingle-left2{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.about-title{
    color: white;
    line-height: 65px;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 48px;
}

.about-text{
    color: white;
    width: 600px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-left: 100px;
    font-size: 16px;
    margin-top: 30px;
}

.offer-title{
    color: white;
    line-height: 60px;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 48px;
}

.Vector{
    position: absolute;
    top: 6px;
    left: -8px;
}

.toggle-section {
    width: 300px;
    color: #fff;
    padding: 10px;
    margin: 20px auto;
    cursor: pointer;
}    

.toggle-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

#toggleIcon {
    margin-right: 10px;
}

.toggle-content {
    display: none;
    width: 300px;
    font-size: 16px;
    position: relative;
    color: #D9D9D9;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    border-style: 0.5px dashed white;
    border-radius: 20px;
    background: #111;
}

.toggle-content p {
    margin-left: 8px;
    margin: 0;
    color: #ddd;
}

.toggle-section2 {
    width: 300px;
    color: #fff;
    padding: 10px;
    margin: 20px auto;
    cursor: pointer;
}    


.toggle-header2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

#toggleIcon2 {
    margin-right: 10px;
}

.toggle-content2 {
    display: none;
    width: 300px;
    font-size: 16px;
    position: relative;
    color: #D9D9D9;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    border-style: 0.5px dashed white;
    border-radius: 20px;
    background: #111;
}

.toggle-content2 p {
    margin-left: 8px;
    margin: 0;
    color: #ddd;
}

.toggle-section3 {
    width: 300px;
    color: #fff;
    padding: 10px;
    margin: 20px auto;
    cursor: pointer; width: 300px;
    color: #fff;
    padding: 10px;
    margin: 20px auto;
    cursor: pointer;
}    


.toggle-header3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

#toggleIcon3 {
    margin-right: 10px;
}

.toggle-content3 {
    display: none;
    width: 300px;
    font-size: 16px;
    position: relative;
    color: #D9D9D9;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    border-style: 0.5px dashed white;
    border-radius: 20px;
    background: #111;
}

.toggle-content3 p {
    margin-left: 8px;
    margin: 0;
    color: #ddd;
}

.toggle-section4 {
    width: 300px;
    color: #fff;
    padding: 0;
    margin: 20px auto;
    cursor: pointer; width: 300px;
    color: #fff;
    padding: 10px;
    margin: 20px auto;
    cursor: pointer;
}    


.toggle-header4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

#toggleIcon4 {
    margin-right: 10px;
}

.toggle-content4 {
    display: none;
    width: 300px;
    font-size: 16px;
    position: relative;
    color: #D9D9D9;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    border-style: 0.5px dashed white;
    border-radius: 20px;
    background: #111;
}

.toggle-content4 p {
    margin-left: 8px;
    margin: 0;
    color: #ddd;
}

.toggle-section5 {
    width: 300px;
    color: #fff;
    padding: 0;
    margin: 20px auto;
    cursor: pointer; width: 300px;
    color: #fff;
    padding: 10px;
    margin: 20px auto;
    cursor: pointer;
}    


.toggle-header5 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

#toggleIcon5 {
    margin-right: 10px;
}

.toggle-content5 {
    display: none;
    width: 300px;
    font-size: 16px;
    position: relative;
    color: #D9D9D9;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    border-style: 0.5px dashed white;
    border-radius: 20px;
    background: #111;
}

.toggle-content5 p {
    margin-left: 8px;
    margin: 0;
    color: #ddd;
}

.toggle-section6 {
    width: 300px;
    color: #fff;
    padding: 0;
    margin: 20px auto;
    cursor: pointer; width: 300px;
    color: #fff;
    padding: 10px;
    margin: 20px auto;
    cursor: pointer;
}    


.toggle-header6 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

#toggleIcon6 {
    margin-right: 10px;
}

.toggle-content6 {
    display: none;
    width: 300px;
    font-size: 16px;
    position: relative;
    color: #D9D9D9;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    border-style: 0.5px dashed white;
    border-radius: 20px;
    background: #111;
}

.toggle-content6 p {
    margin-left: 8px;
    margin: 0;
    color: #ddd;
}

.toggle{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-left: 10px;
    margin-top: 60px;
}

.toggle-left{
    max-width: 100%;
}



.testimonial-quote {
    font-size: 14px;
    margin-bottom: 30px;
    color: white;
    width: 100%
    
}

.testimonial-quote p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.testimonial-author {
    display: flex;
    align-items: center;
}

.testimonial-author img {
    border-radius: 50%;
    margin-right: 10px;
}

.testimonial-author h4 {
    margin: 0;
    font-size: 18px;
    color: white;
}

.testimonial-author p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
    font-weight: 100;
}



.testimonials-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    max-width: 1200px;
    justify-content: space-around;
    margin-top: 100px;
}

.testimonial-card {
    background-color: #111;
    border-radius: 18px;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 8px #fff(0, 0, 0, 0.3);
    border-width: 0.5px; 
    border-style: solid; 
    border-color: #ffffff; 
}

.testimonial-card p {
    margin-bottom: 10px;
    max-width: 100%;
}

.testimonial-card .author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.author-info {
    font-size: 0.9em;
}


.lwt{
    font-size: 128px;
    position: absolute;
    top: 5600px;
    color: white;
    width: 1395px;
    font-weight: 400;
}

.let{
    font-size: 16px;
    color: white;
    width: 100%;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.let2{
    font-size: 16px;
    color: white;
    width: 100%;
    font-weight: 200;
    line-height: 25px;
    font-family: DM sans;
    margin: 0;
}


.button-bottom-container {
    display: flex;               
    margin-bottom: 60px;
    margin-top: 40px;
}


.button {
    padding: 20px 40px;       
    font-size: 16px;
    font-weight: 600;          /* Adjust font size */
    border: none;             /* Remove default border */
    border-radius: 50px;      /* Rounded corners (match image) */
    background-color: white;  /* Background color */
    color: black;             /* Text color */
    text-align: center;       /* Center text inside button */
    text-decoration: none;    /* Remove underline */
    display: inline-flex;     /* Use flexbox for alignment */
    align-items: center;      /* Align icon and text vertically */
    justify-content: center;  /* Center content horizontally */
    gap: 4px;                 /* Space between icon and text */
    cursor: pointer;          /* Pointer cursor on hover */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth hover effect */
}



.email{
    width: 24px;
    height: 24px;
}

.footer-text{
    font-weight: 400;
    font-weight:16px;
    color: white;
    margin-right: 156px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 118px;
}

.Icon-footer img{
    padding-left: 10px;
}

.page-title{
    color: #fff;
    font-size: 32px;
    z-index: 100;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 52px;
}

.page-text{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    width: 446px;
}

.biz{
    margin-top: 154px;
    z-index: 100;
    color: white; 
}

.BizMingle-img2{
    align-items: center;
    width: 100%;
    margin-top: 148px;
    z-index: 100;
}

.page-intro{
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.biz-text{
    color: #fff;
    font-size: 20px;
    line-height: 31px;
    font-weight: 400;
    width: 100%;
}

.biz-intro{
    margin-top: 91px;
}

.prob-intro{
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.prob-text {
    color: #fff;
    font-size: 20px;
    line-height: 31px;
    font-weight: 400;
    width: 100%;
}

.Prob-state{
    margin-top: 152px;
}

.prob-text1{
    color: #fff;
    font-size: 20px;
    line-height: 31px;
    font-weight: 400;
    max-width: 100%;
    margin-top: 50px;
}

.Solu-intro{
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Solu-text{
    color: #fff;
    font-size: 20px;
    line-height: 31px;
    font-weight: 400;
    width: 100%;
}

.Solu-state{
    margin-top: 152px;
}

.biz-app{
    width: 100%;
    margin-top: 150px;
}

.inner-button{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin-top: 150px;
}

.container, .container1{
    overflow: hidden;
    margin-bottom: 90px;
}

.moving-text, .moving-text1 {
    white-space: nowrap;
    display: flex;
}

.text-item, .text-item1 {
    animation: moveText 10s linear infinite;
}


@keyframes moveText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.moving-text1 {
    white-space: nowrap;
    display: flex;
}

.text-item1 {
    animation: moveText 5s linear infinite;
}

h1 {
    color: white;
    font-size: 128px;
    font-weight: 400;
    margin: 0;
    padding: 0; 
    margin-top: 150px;
}

@keyframes moveText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.container1{
    overflow:  hidden;
}


.let3{
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    margin-top: 160px;
}

.let4{
    font-size: 16px;
    margin-top: 18px;
    color: white;
    width: 1395px;
    font-weight: 200;
    line-height: 25px;
    font-family: DM sans;
}


.footer-text1{
    font-weight: 400;
    font-weight:16px;
    color: white;
    margin-right: 156px;
}

.footer1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
   margin-top: 141px;
}

.cta-button {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    color: white;
    position: relative;
    padding-bottom: 5px;
    line-height: 1.5; 
    text-align: center;
    align-content: center;
    font-weight: 400;
    cursor: pointer;
    margin-top: 100px;
}

.cta-button .arrow {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    vertical-align: middle; 
    transition: transform 0.3s ease-in-out;
    width: 30px;
}

.cta-button:hover .arrow {
    transform: rotate(45deg); 
}



.menu-item {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    color: #fff; 
    cursor: pointer;
}
  
.menu-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px; 
    background-color: #fff; 
    transition: width 0.4s ease;
}
  
.menu-item:hover::after {
    width: 100%;
}
  

.inactive {
    color: #7a7a7a;
    cursor: pointer; 
}
  
.inactive:hover::after {
    width: 100%; 
}
  
.inactive:hover {
    color: #fff; 
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in, transform 1s ease-out;
    will-change: opacity, transform;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}

